lib/
.gradle/
.idea/
build/

local.properties
crashlytics.properties
crashlytics-build.properties
.gradletasknamecache

*.iml
.DS_Store

*.apk
gradle.properties
fabric.properties
google-services.json

.ignored/
